<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.jaschke.alexandria" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Books List Activity -->
        <activity
            android:name=".navigation.bookslist.BooksListActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Book Activity -->
        <activity
            android:name=".navigation.addbook.AddBookActivity"
            android:label="@string/title_activity_add_book"
            android:parentActivityName=".navigation.bookslist.BooksListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigation.bookslist.BooksListActivity" />
        </activity>

        <!-- Scan Book Activity -->
        <activity android:name=".navigation.addbook.ScanBookActivity" />

        <!-- Book Detail  -->
        <activity
            android:name=".navigation.bookdetail.BookDetailActivity"
            android:parentActivityName=".navigation.bookslist.BooksListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigation.bookslist.BooksListActivity" />
        </activity>

        <!-- About Activity -->
        <activity android:name=".navigation.about.AboutActivity" />

        <!-- Content Provider -->
        <provider
            android:name=".provider.AlexandriaProvider"
            android:authorities="it.jaschke.alexandria"
            android:exported="false" />

        <!-- Book Service -->
        <service
            android:name=".services.BookService"
            android:exported="false" >
        </service>

    </application>

</manifest>
